- Question 1
 - Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [14]:
def reverse_num(num):
    reverse = 0
    try:
        while num > 0:
            digit = num % 10
            reverse = reverse*10+digit
            num = num // 10
        return reverse    
    except Exception as err:
        print('an error occured!!')
        print(str(err))

def is_symmetrical(num):
    try:
        if num == reverse_num(num):
            return True
        else:
            return False
    except Exception as err:
        print('an error occured!!')
        print(str(err))

In [19]:
is_symmetrical(9939)

False

- Question 2
 - Given a string of numbers separated by a comma and space, return the product of the numbers.

In [34]:
def multiply_nums(nums_str):
    try:
        num_list = nums_str.split(', ')
        total = 1
        for i in num_list:
            total = total * int(i)
        return total
    except Exception as err:
        print('an error occured!!')
        print(str(err))

In [35]:
multiply_nums('1, 2, 3, 4')

24

- Question 3
- Create a function that squares every digit of a number.

In [72]:
def square_digits(number):
    try:
        str_num_list = list(str(number))
        for digit in str_num_list:
             print(int(digit)**2,end="")
        
    except Exception as err:
        print(str(err))

In [74]:
square_digits(9119)

811181

- Question 4
 - Create a function that sorts a list and removes all duplicate items from it.

In [76]:
lst = [1,4,5,78,3,4]
lst.sort()

In [77]:
lst

[1, 3, 4, 4, 5, 78]

In [85]:
def setify(lst):
    try:
        no_dup_lst = []
        for element in lst:
            if element not in no_dup_lst:
                no_dup_lst.append(element)
                
        return sorted(no_dup_lst)
    except Exception as err:
        print(str(err))

In [86]:
setify([4, 4, 4, 4])

[4]

In [87]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

- Question 5
 - Create a function that returns the mean of all digits.

In [6]:
def mean(num):
    try:
        if num == 0:
            return 0
        else:
            lst = []
            while num>0:
                lst.append(num%10)
                num = num // 10
            return sum(lst)/len(lst)
    except Exception as err:
        print('an error occured!!')
        print(str(err))

In [7]:
mean(42)

3.0